body,
#root {
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  #root {
    background-color: #efe9e7;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #071108;
  }

  a {
    color: #5e0b15;
  }

  a:hover {
    color: #bc4749;
  }

  ul {
    background-color: #bc4749;
  }

  button {
    color: #efe9e7;
    background-color: #5e0b15;
  }

  button:hover {
    background-color: #bc4749;
  }

  .has-event {
    background-color: #faa275;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.7;
  }

  .card {
    background-color: #faa275;
  }

  .program h1,
  .program h2,
  .program h3,
  .program h4,
  .program p {
    color: #efe9e7;
  }

  .workoutcard .program {
    color: #efe9e7;
  }

  .program a {
    color: #c598af;
  }

  .burger {
    background-color: #5e0b15;
  }
}

@media (prefers-color-scheme: dark) {
  #root {
    background-color: #071108;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #efe9e7;
  }

  a {
    color: #c598af;
  }

  a:hover {
    color: #a2a7a9;
  }

  ul {
    color: #bc4749;
    background-color: #5e0b15;
  }

  .card {
    background-color: #5e0b15;
  }

  .burger {
    background-color: #bc4749;
  }
  button:hover {
    background-color: #4a1942;
  }

  .has-event {
    background-color: #c598af;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.5;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  margin: 1em;
  padding: 1em;
  border: 1px solid rgba(126, 8, 8, 0.8);
  box-shadow: 0 4px 8px rgba(126, 8, 8, 0.4);
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
  box-shadow: 0 0 5px #000;
  border-top: none;
  margin-top: 0;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  display: none;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.workoutcard {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.workoutcard p {
  margin: 0;
}

.workoutcard p:first-child {
  flex: 0 0 50%; /* Fast bredd på 50% för första kolumnen */
}

.instruction {
  flex: 0 0 50%; /* Fast bredd på 50% för andra kolumnen */
}

.imgarrow {
  width: 20px;
  height: auto;
}

.workoutcard input[type='number'] {
  max-width: 50px;
  padding: 3px;
  margin: 2px;
}

.circleprogress {
  max-height: 100px;
  max-width: 100px;
}

.step {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .ul {
    flex-direction: column;
    align-items: center;
  }

  .ul li {
    display: none;
  }

  .ul.open li {
    display: block;
    flex-direction: column;
  }

  .hamburger {
    display: flex;
    z-index: 10;
  }
}

@media (min-width: 601px) and (max-width: 999px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }
}
